* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    --generic-spacing: 0.5rem;
    --positive-color: #65b12d;
    --negative-color: #ff5656;
    --p-card-body-padding: 1rem;
}

html,
#__nuxt {
    height: 100%;
}
