* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    --generic-spacing: 0.5rem;
    --positive-color: #65b12d;
    --negative-color: #f36a6a;
    --p-card-body-padding: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --positive-color: #79d039;
        --negative-color: #ff5151;
    }
}

html,
#__nuxt {
    height: 100%;
}
